infra/dataflow/fluvio/data/
infra/dataflow/fluvio/metadata/
app/source-uniswap/source-uniswap
infra/dataflow/arroyo/data/*
infra/dataflow/fluvio/dataflow/sdf/*
infra/dataflow/nats/data/*
infra/tsdb/pg/data/*
infra/dashboard/grafana/data/*
infra/monitor/prometheus/data/*
chain/ethereum/reth/data/*
chain/ethereum/lighthouse/data/*
chain/ethereum/erigon/data/*
